/* Tillfällig css för att visa dropdown vid sökning av stad */
.search-container {
  position: relative;
  width: 250px;
}

.cityInput {
  width: 100%;
}

.dropdown {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown li {
  padding: 8px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}