@use "./variables";

/* ----------Bakgrund--------------------- */

body {
    background: linear-gradient(to bottom,
            variables.$basePink,
            lighten(variables.$basePink, 20%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "comic sans ms", sans-serif;
}

/* ----------Header--------------------- */

header {
    background-color: white;

    h1 {
        font-family: variables.$headingFont;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        position: relative;
        padding: 30px 20px 13px 10px;
        text-shadow:
            -2px -2px 0 variables.$fontOutline,
            2px -2px 0 variables.$fontOutline,
            -2px 2px 0 variables.$fontOutline,
            2px 2px 0 variables.$fontOutline,
            -3px 0px 0 variables.$fontOutline,
            3px 0px 0 variables.$fontOutline,
            0px -3px 0 variables.$fontOutline,
            0px 3px 0 variables.$fontOutline,
            4px 4px 2px rgba(0, 0, 0, 0.574);

        .forecastTxt {
            color: variables.$fontPink;
        }

        .andTxt {
            color: variables.$fontYellow;
        }

        .chillTxt {
            color: variables.$fontBlue;
        }

    }

    // Vågig kant:
    h1::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 40px;
        background: radial-gradient(circle, white 20px, transparent 21px) repeat-x;
        background-size: 40px 40px;
    }

    // Skugga under vågig kant:
    h1::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 40px;
        background: radial-gradient(circle, rgba(125, 9, 9, 0.25) 20px, transparent 21px) repeat-x;
        background-size: 40px 40px;
        filter: blur(4px);
        z-index: -1;
    }
}

/* ----------Main--------------------- */

main {
    line-height: 1.5;
    padding: 20px;
}

/* ----------Sökruta--------------------- */

.locationBox {
    position: relative;
    font-family: variables.$secondaryFont, "Comic Sans MS", sans-serif;
    margin: 20px 0px 20px 0px;

    .locationLabel {
        display: block;
        width: 100%;
        background: darken(variables.$fontBlue, 10%);
        font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
        color: white;
        border-radius: 20px;
        box-shadow: variables.$boxShadow;
        text-shadow: variables.$textShadow;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .searchContainer {
        width: 100%;

        .innerSearch {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .fetchBtn {
                width: 50%;
            }
        }

        .cityInput {
            width: 50%;
            font-size: 1.2rem;
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            padding: 0.2rem 0.8rem;
            border: 3px darken(variables.$fontPink, 3%) solid;
            border-radius: 999px;
            cursor: pointer;
            background: white;
            color: black;
            box-shadow: variables.$boxShadow;
            margin-top: 10px;
        }
    }

}

/* ----------Filmdisplay--------------------- */

.suggBox {
    margin-top: 20px;
    text-align: center;

    .moviesContainer {
        .classMovieCard {
            background-color: darken(variables.$fontBlue, 10%);
            padding: 20px;
            border-radius: 20px;
            box-shadow: variables.$boxShadow;
            color: white;
            margin: 20px;
        }

        h2 {
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 10px;
            text-shadow: variables.$textShadow;
        }

        img {
            border-radius: 10px;
            border: 4px solid darken(variables.$fontPink, 3%);
        }

        details {
            background: variables.$fontPink;
            border: 4px solid darken(variables.$fontPink, 3%);
            border-radius: 1rem;
            box-shadow: variables.$boxShadow;
        }

        summary {
            list-style: none;
            cursor: pointer;
            padding: 0.8rem 1rem;
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
            text-shadow: variables.$textShadow;
            color: white;
            position: relative;
            user-select: none;
        }

        summary::after {
            content: "✨";
            position: absolute;
            right: 1rem;
            transition: transform 0.3s ease;
        }

        details[open] summary::after {
            transform: rotate(180deg);
        }
    }
}


/* ----------Knappar--------------------- */

button {
    font-size: 1.2rem;
    font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
    text-shadow: variables.$textShadow;
    padding: 0.2rem 0.8rem;
    border: 3px darken(variables.$fontPink, 3%) solid;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: variables.$fontPink;
    color: white;
    box-shadow: variables.$boxShadow;
    margin-top: 10px;
}

button:hover {
    background: darken(variables.$fontPink, 10%);
}

/* ----------Pastakalender--------------------- */

footer {
    line-height: 1.5;
    display: flex;
    justify-content: center;

    .pasBox {
        text-align: center;
        background: darken(variables.$fontBlue, 10%);
        font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
        color: white;
        border-radius: 20px;
        box-shadow: variables.$boxShadow;
        padding: 20px;
        //max-width: 400px;
        text-shadow: variables.$textShadow;

        span {
            font-size: 1.2rem;
            font-weight: bold;
        }

    }
}

/* ----------Väderdisplay--------------------- */
.weatherBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
        .goodBadWeather {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
                height: auto;
            }

        }
    }


}

.tableWeatherData {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // gap: 10px; 

    .hourBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: variables.$basePink;
        border-radius: 20px;
        color: white;
        text-shadow: variables.$textShadow;

        .hourHeader {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }

        details {
            background-color: variables.$fontPink;
            font-size: 0.9rem;
            border-radius: 10px;
            padding: 3px 8px 3px 8px;
        }

        p {
            font-size: 0.9rem;
        }

    }
}


//TEMP
.dropdown li.highlight { background:#007bff; color:#fff; }