@use "./variables";

/* ----------Bakgrund--------------------- */

body {
    background: linear-gradient(to bottom,
            variables.$basePink,
            lighten(variables.$basePink, 20%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "comic sans ms", sans-serif;
}

/* ----------Header--------------------- */

header {
    background-color: white;
    position: relative;

    .logo {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: auto;
}

}

// Vågig kant:
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, white 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
}

// Skugga under vågig kant:
header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, rgba(125, 9, 9, 0.25) 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
    filter: blur(4px);
    z-index: -1;
}


/* ----------Main--------------------- */

main {
    line-height: 1.5;
    padding: 20px;
}

/* ----------Sökruta--------------------- */

.locationBox {
    position: relative;
    font-family: variables.$secondaryFont, "Comic Sans MS", sans-serif;
    margin: 20px 0px 20px 0px;

    .locationLabel {
        display: block;
        width: 100%;
        background: darken(variables.$fontBlue, 10%);
        font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
        color: white;
        border-radius: 20px;
        box-shadow: variables.$boxShadow;
        text-shadow: variables.$textShadow;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }

    .searchContainer {
        width: 100%;

        .innerSearch {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .fetchBtn {
                width: 50%;
            }
        }

        .cityInput {
            width: 50%;
            font-size: 1.2rem;
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            padding: 0.2rem 0.8rem;
            border: 3px darken(variables.$fontPink, 3%) solid;
            border-radius: 999px;
            cursor: pointer;
            background: white;
            color: black;
            box-shadow: variables.$boxShadow;
            margin-top: 10px;
        }
    }

}

/* ----------Väderdisplay--------------------- */
.weatherBox {
    
}

    .tableWeatherData {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;

    .hourBlock {
        width: 100%;
        background: variables.$basePink;
        border-radius: 20px;
        color: white;
        text-shadow: variables.$textShadow;

        .hourHeader {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            .weatherGif {
                height: 100px;
                width: auto;
                margin: 0 auto;
            }
            .time {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 1.2rem;
                padding-left: 10px;

            }
            .condition {
                display: block;
                padding-left: 10px;

            }
        }

        details {
            background-color: variables.$fontPink;
            font-size: 0.9rem;
            border-radius: 10px;
            padding: 3px 8px 3px 8px;
        }

    }
}

.goodBadWeather {
    font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
    color: white;
    text-shadow: variables.$textShadow;
    font-size: 1.4rem;
    text-align: center;
    background-color: darken(variables.$fontBlue, 10%);
    border-radius: 20px;
    box-shadow: variables.$boxShadow;
    padding: 10px;
}



/* ----------Filmdisplay--------------------- */

.suggBox {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .moviesContainer {
        .classMovieCard {
            background-color: darken(variables.$fontBlue, 10%);
            padding: 20px;
            border-radius: 20px;
            box-shadow: variables.$boxShadow;
            color: white;
            margin: 20px;
        }

        h2 {
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: 10px;
            text-shadow: variables.$textShadow;
        }

        img {
            border-radius: 10px;
            border: 4px solid darken(variables.$fontPink, 3%);
        }

        details {
            background: variables.$fontPink;
            border: 4px solid darken(variables.$fontPink, 3%);
            border-radius: 1rem;
            box-shadow: variables.$boxShadow;
        }

        summary {
            list-style: none;
            cursor: pointer;
            padding: 0.8rem 1rem;
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
            text-shadow: variables.$textShadow;
            color: white;
            position: relative;
            user-select: none;
        }

        summary::after {
            content: "✨";
            position: absolute;
            right: 1rem;
            transition: transform 0.3s ease;
        }

        details[open] summary::after {
            transform: rotate(180deg);
        }
    }
}


/* ----------Knappar--------------------- */

button {
    font-size: 1.2rem;
    font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
    text-shadow: variables.$textShadow;
    padding: 0.2rem 0.8rem;
    border: 3px darken(variables.$fontPink, 3%) solid;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: variables.$fontPink;
    color: white;
    box-shadow: variables.$boxShadow;
    margin-top: 10px;
}

button:hover {
    background: darken(variables.$fontPink, 10%);
}

/* ----------Pastakalender--------------------- */

footer {
    background-color: white;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;

    .pasBox {
        text-align: center;
        background: darken(variables.$fontBlue, 10%);
        font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
        color: white;
        border-radius: 20px;
        box-shadow: variables.$boxShadow;
        padding: 20px;
        //max-width: 400px;
        text-shadow: variables.$textShadow;

        span {
            font-size: 1.2rem;
            font-weight: bold;
        }

    }
}

// Vågig kant:
footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, white 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
}

// Skugga vågig kant:
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, rgba(125, 9, 9, 0.25) 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
    filter: blur(4px);
    z-index: -1;
}

/* ----------Dropdown--------------------- */



//TEMP
.dropdown li.highlight { background:#007bff; color:#fff; }