@use "./variables";

/* ----------Bakgrund--------------------- */
body {
    background: linear-gradient(to bottom,
            variables.$basePink,
            lighten(variables.$basePink, 20%));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "comic sans ms", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: variables.$fontColor;
}

/* ----------Header--------------------- */

header {
    background: white;
    position: relative;

    .logo {
        display: block;
        margin: 0 auto;
        padding: 20px;
        width: 300px;
        height: auto;
    }
}

// vågig kant:
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, white 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
}

// skugga under vågig kant:
header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, rgba(125, 9, 9, 0.25) 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
    filter: blur(4px);
    z-index: -1;
}


/* ----------Main--------------------- */

main {
    line-height: 1.5;
    padding: variables.$basePadding;
    flex: 1;
}

/* ----------Sökruta--------------------- */

.locationBox {
    position: relative;
    font-family: variables.$secondaryFont, "Comic Sans MS", sans-serif;
    margin: 20px 0px 20px 0px;

    .locationLabel {
        display: block;
        width: 100%;
        background: darken(variables.$fontBlue, 10%);
        font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
        border-radius: variables.$baseBorderRadius;
        box-shadow: variables.$boxShadow;
        font-size: 1.5rem;
        font-weight: bold;
        text-indent: 10px;
    }
    .locationError{
            font-size: 1rem;
            justify-content: center;
    }

    .searchContainer {
        width: 100%;

        .innerSearch {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .fetchBtn {
                width: 50%;
            }
        }

        .cityInput {
            width: 50%;
            font-size: 1.2rem;
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            padding: 0.2rem 0.8rem;
            border: 3px variables.$borderPink solid;
            border-radius: 999px;
            cursor: pointer;
            background: white;
            box-shadow: variables.$boxShadow;
            margin-top: variables.$baseMargin;
        }
    }

}

/* ----------Dropdown--------------------- */

.dropdown li.highlight {
    background: #aeadf4;
    color: black;
}

.dropdown {
    position: absolute;
    background: white;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border-radius: variables.$baseBorderRadius;
}

.dropdown li {
    padding: 8px;
    cursor: pointer;
}

.suggBtn {
    display: none;
}

/* ----------Väderdisplay--------------------- */
.weatherBox {
    display: flex;
    flex-direction: column;
}

.tableWeatherData {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: variables.$basePink;
    border-radius: variables.$baseBorderRadius / 2;
    box-shadow: variables.$boxShadow;
    margin-bottom: variables.$baseMargin * 2;

    .hourHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .weatherGif {
            height: 100px;
            width: auto;
            margin: 0 auto;
        }

        .time {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;
            padding-left: 10px;

        }

        .condition {
            display: block;
            padding-left: 10px;
            font-size: 1.2rem;

        }
    }

    details {
        background: variables.$fontPink;
        font-size: 1rem;
        border-radius: variables.$baseBorderRadius / 2;
        padding: 3px 8px 3px 8px;
        text-indent: 5px;
    }

}

.hourInfo {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.goodBadWeather {
    font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    background: darken(variables.$fontBlue, 10%);
    border-radius: variables.$baseBorderRadius;
    box-shadow: variables.$boxShadow;
    padding: 5px;
}

.goodBadWeather.hidden {
    display: none;
}



/* ----------Filmdisplay--------------------- */

.suggBox {
    margin-top: variables.$baseMargin;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch; 

    button {
        margin-bottom: variables.$baseMargin * 4;
        width: 50%;
        padding: 5px 0px 5px 0px;
        align-self: center;
        font-size: 1.4rem;
    }

    .moviesContainer {
        width: 100%; 
        align-self: stretch; 
        display: flex;
        flex-direction: column;

        .classMovieCard {
            width: 100%; 
            box-sizing: border-box; 

            background: darken(variables.$fontBlue, 10%);
            padding: 20px;
            border-radius: variables.$baseBorderRadius;
            box-shadow: variables.$boxShadow;
            margin-top: variables.$baseMargin;
            margin-bottom: variables.$baseMargin;
        }

        h2 {
            font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
            font-size: 2rem;
            line-height: 1;
            margin-bottom: variables.$baseMargin;
        }

        img {
            border-radius: variables.$baseBorderRadius / 2;
            border: 4px solid variables.$borderPink;
        }

        details {
            background: variables.$fontPink;
            border: 4px solid variables.$borderPink;
            border-radius: variables.$baseBorderRadius / 2;
            box-shadow: variables.$boxShadow;          
            p {
                text-align: left;
                padding: 20px;
            }
        }

        summary {
            list-style: none;
            cursor: pointer;
            padding: 0.8rem 1rem;
            font-family: 'comic sans ms', sans-serif;
            font-weight: bold;
            font-size: 1.2rem;
            position: relative;
            user-select: none;
        }

        summary::before {
            content: "✨";
            position: absolute;
            left: 1rem;
            transition: transform 0.3s ease;
        }

        details[open] summary::before {
            transform: rotate(180deg);
        }
    }
}


/* ----------Knappar--------------------- */

button {
    font-size: 1.2rem;
    color: variables.$fontColor;
    font-family: variables.$secondaryFont, 'comic sans ms', sans-serif;
    padding: 0.2rem 0.8rem;
    border: 3px variables.$borderPink solid;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: variables.$fontPink;
    box-shadow: variables.$boxShadow;
    margin-top: 10px;
}

button:hover {
    background: darken(variables.$fontPink, 10%);
}

/* ----------Pastakalender--------------------- */

footer {
    background: white;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 30px;

    .pasBox {
        text-align: center;
        font-family: 'comic sans ms', sans-serif;
        border-radius: variables.$baseBorderRadius;
        padding: variables.$basePadding;
        width: 100%;
        margin: 0 auto;
        line-height: 2;

        .pasResult {
            font-size: 1.2rem;
            font-weight: bold;

        }

        span {
            font-size: 1.2rem;
        }

    }
}

// vågig kant:
footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, white 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
}

// skugga vågig kant:
footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    height: 40px;
    background: radial-gradient(circle, rgba(125, 9, 9, 0.25) 20px, transparent 21px) repeat-x;
    background-size: 40px 40px;
    filter: blur(4px);
    z-index: -1;
}

