@use "./variables";

@media (min-width: 1025px) {

    .logo {
        min-width: 25%;
        height: auto;
    }


    main {
        margin-left: variables.$baseMargin * 10;
        margin-right: variables.$baseMargin * 10;
        display: grid;
        place-items: center;
        min-width: 100vh;
    }

    /* ----------Sökruta--------------------- */
    .locationBox {

        label {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            .locationLabel {
                font-size: 2rem;
                //justify-self: center;

            }

            .searchContainer {
                .innerSearch {
                    justify-self: center;

                    .cityInput {
                        font-size: 1.5rem;
                        text-indent: 20px;
                        width: 400px;
                    }

                    .fetchBtn {
                        font-size: 1.5rem;
                        width: 200px;
                    }
                }
            }
        }

        .locationError {
            display: flex;
            font-size: 1.5rem;
            justify-content: center;
        }
    }

    .dropdown {
        width: 600px;
        justify-self: center;

        li {
            font-size: 1.5rem;
        }
    }

    /* ----------Väderdisplay--------------------- */
    .weatherBox {
        justify-self: center;
        width: 80%;

        .tableWeatherData {
            .hourHeader {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;

                .hourText {
                    justify-self: center;
                }

                .weatherGif {
                    height: 200px;
                }

                .time {
                    font-size: 4rem;
                    padding: 0;
                    margin: 0;
                }

                .condition {
                    font-size: 2em;
                    padding: 0;
                    margin: 0;
                }
            }

            details {
                font-size: 1.5rem;

                .hourInfo {
                    display: flex;
                    flex-direction: row;
                    white-space: nowrap;
                    flex-wrap: nowrap;
                    justify-content: space-evenly;
                    padding: 0;
                }
            }
        }

        .goodBadWeather {
            font-size: 3rem;
        }
    }

    /* ----------Filmdisplay--------------------- */
    .suggBox {
        .moviesContainer {
            width: 100%;

            .classMovieCard {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 150px 1fr;
                align-items: start;
                column-gap: variables.$baseMargin * 3;
                min-height: 400px;
                padding: 0 45px;
                padding-bottom: 25px;
                border: dotted 10px white;

                h2 {
                    grid-column: 1 / span 2;
                    grid-row: 1;
                    font-size: 2.5rem;
                    justify-self: center;
                    align-self: center;
                }

                img {
                    grid-column: 1;
                    grid-row: 2;
                    min-width: 100%;
                    height: auto;
                    justify-self: center;
                }

                details {
                    grid-column: 2;
                    grid-row: 2;
                    align-self: start;
                    min-width: auto;
                    margin-top: 0;
                    margin-bottom: auto;
                    font-size: clamp(0.9rem, 0.5rem + 0.5vw, 1.2rem);
                }
            }
        }

        .suggBtn {
            width: 200px;
            height: 50px;
            font-size: 1.5rem;

        }
    }

    details {
        summary {
            display: none;
        }
    }

    footer {
        .pasBox {
            span {
                font-size: 1.5rem;
            }

            .pasResult {
                font-size: 2rem;
            }
        }
    }
}