$basePink: #ffb6c1;
$secondaryFont: 'Sour Gummy','Comic Sans MS', sans-serif;
$fontBlue: #a7d2ef; 
$fontColor: #5A3A4D;
$fontPink: #ff91ab;
$boxShadow: 5px 5px 2px rgba(116, 28, 28, 0.343);
$basePadding: 16px;
$baseBorderRadius: 20px;
$baseMargin: 10px;
$borderPink: #dc6e86;