$basePink: #ffb6c1;
$headingFont: 'Coiny', 'Comic Sans MS', sans-serif;
$secondaryFont: 'Sour Gummy','Comic Sans MS', sans-serif;
$fontBlue: lighten(#0068bd, 40%); 
//$fontOutline: #0068bd;
$fontYellow: #e5dc60;
$fontPink: #ff91ab;
$boxShadow: 5px 5px 2px rgba(116, 28, 28, 0.343);
$textShadow: 2px 2px 2px rgba(0, 0, 0, 0.343);
$fontOutline: #733872; 
$basePadding: 16px;
$baseBorderRadius: 20px;
$baseMargin: 10px;
$defaultTextColor: rgb(248, 248, 248);