$basePink: #ffb6c1;
$headingFont: 'Coiny', 'Comic Sans MS', sans-serif;
$secondaryFont: 'Sour Gummy','Comic Sans MS', sans-serif;
$fontColor: #b1d0ff;
$fontBlue: lighten(#0068bd, 40%); 
$fontOutline: #0068bd;
$fontYellow: #e5dc60;
$fontPink: #ff91ab;
